---
import Base from "../../layouts/Base.astro";
---

<Base title="About" description="wwwyo's blog について">
  <article>
    <header class="post-header">
      <h1>About</h1>
    </header>
    <p>x: <a href="https://x.com/www_yto">@www_yto</a></p>
    <p>GitHub: <a href="https://github.com/wwwyo">@wwwyo</a></p>
    <p>Zenn: <a href="https://zenn.dev/www_y">@www_y</a></p>
    <p>Qiita: <a href="https://qiita.com/wwwy">@wwwy</a></p>
    <p>note: <a href="https://note.com/www_yt">@www_yt</a></p>
  </article>
</Base>

<style>
  .post-header {
    margin-bottom: var(--spacing-lg);
  }

  .post-header h1 {
    margin: 0;
  }
</style>
