---
import "../styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>wwwyo.dev</title>
  </head>
  <body>
    <main>
      <p>wwwyo.dev</p>
    </main>
  </body>
</html>
